.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.image-click {
  height: 120px;
  width: 120px;
}

body {
  position: relative;
}

footer {
  height: 50px;
  background: rgb(34, 34, 34);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header {
  position: fixed;
  line-height: 20px;
  color: rgb(230, 230, 230);
  text-shadow: 0 0 3px white;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  background: rgb(7, 7, 7);
  font-family: Poppins;
  font-style: italic;
  display: flex;
  justify-content: space-around;
}

.user, .lupa, .bebida, .hamburguer, .explore {
  color: white;
  font-size: 2rem;
}

.btns-category {
  position: fixed;
  padding: 10px 0;
  top: 60px;
  left: 0;
  min-width: 100%;
  display: flex;
  z-index: 999;
  justify-content: space-around;
  background: linear-gradient(to bottom, black 50%, rgb(17, 17, 17));
}

.login-container {
  align-items: center;
  background: linear-gradient(to top, black 15%, rgba(0, 0, 0, 0)) , url('./images/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  object-fit: cover;
  object-position: top;
  position: relative;
  max-width: 360px;
}

.food-container, .drink-container {
  background: rgb(7, 7, 7);
  padding: 100px 0;
}

.box {
  position: relative;
  width: 130px;
  min-height: 190px;
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgb(8, 8, 8);
  z-index: 10;
}

.box::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  background: linear-gradient(315deg, #00ccff, rgb(7, 7, 7), #d400d4);
}

.box::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  filter: blur(6px);
  background: linear-gradient(315deg, #00ccff, rgb(7, 7, 7), #d400d4);
}

.buttons {
  bottom: 120px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.title, .login-text {
  color: rgb(241, 241, 241);
  font-family: Poppins , sans-serif;
  font-size: 2rem;
}

.title {
  animation: initTitle 0.6s;
  font-style: italic;
  position: absolute;
  top: 30px;
}

.title-card {
  font-size: 0.8rem;
}

.login-text {
  animation: initLogin 1.5s;
  bottom: 230px;
  font-size: 1.5rem;
  position: absolute;
}

.logo {
  animation: initLogo 0.6s;
  color: rgb(241, 241, 241);
  font-size: 3rem;
  position: absolute;
  top: 120px;
}

@keyframes initLogo {

  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes initTitle {

  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes initLogin {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.input-login {
  animation: initLogin 1.5s;
  background: none;
  border: none;
  border-bottom: 2px solid rgb(224, 224, 224);
  color: rgb(241, 241, 241);
  outline: none;
  width: 200px;
}

.input-login:focus {
  border-bottom: 2px solid rgb(57, 156, 0);
}

.input-login::placeholder, .text {
  color: rgb(224, 224, 224);
}

.entrar-btn, .finish-btn {
  animation: initLogin 1.5s;
  background: rgb(48, 48, 48);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
  padding: 8px 14px;
  width: 100%;
}

.btn-category {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 4px 5px;
  margin: 0 10px;
  background: rgb(41, 41, 41);
  color: aliceblue;
}

.enable {
  border-bottom: 2px solid rgb(140, 243, 140);
  color: rgb(140, 243, 140);
  text-shadow: 0 0 2px green;
}

.box span h3 {
  color: rgb(224, 224, 224);
  font-style: italic;
  font-family: Poppins;
}

.enable:hover {
  border-bottom: 2px solid rgb(224, 224, 224);
  color: rgb(224, 224, 224);
  text-shadow: 0 0 2px rgb(224, 224, 224);
}

.disable {
  border-bottom: 2px solid rgb(235, 116, 116);
  color: rgb(235, 116, 116);
  text-shadow: 0 0 2px red;
}

.card-container {
  align-items: center;
  background: rgb(88, 88, 88);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 230px;
  text-align: center;
  width: 150px;
}

.img-card {
  width: 100%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.foodlist {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  padding-top: 30px;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.check {
  color: #87face;
}

.selected {
  color: #0fa36b;
  border: 2px solid #0fa36b;
}

.loading-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 8, 8);
  flex-direction: column;
}

.loading-page h3 {
  color: white;
  margin-bottom: 120px;
}

.loading {
  font-size: 4rem;
  color: rgb(235, 235, 235);
  animation: loading 1.4s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
    color: white;
  }

  100% {
    transform: rotate(360deg);
    color: green;
  }
}

.profile-page {
  position: relative;
  height: 100vh;
  background-color: rgb(8, 8, 8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.profile-page p {
  font-size: 1.5rem;
  position: absolute;
  top: 110px;
  color: rgb(212, 212, 212);
}

.btn-profile {
  position: absolute;
  display: flex;
  gap: 20px;
  flex-direction: column;
  top: 240px;
  width: 80%;
}

.profile-btns {
  position: relative;
  padding: 14px 0;
  background-color: rgb(63, 63, 63);
  border-radius: 8px;
  border: 0;
  color: rgb(235, 235, 235);
  font-size: 1.4rem;
}

.icon-profile {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  color: white;
}

.empty-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  justify-content: center;
  background-color: rgb(8, 8, 8);
}

.empty-page h3 {
  font-size: 1.3rem;
  color: rgb(231, 231, 231);
  font-family: Poppins;
}

.empty-page button {
  padding: 10px 15px;
  background-color: rgb(204, 204, 204);
  border: none;
  border-radius: 8px;
}

.heart-broken {
  color: rgb(231, 231, 231);
  font-size: 3rem;
}

.details-page, .progress-page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
  color: white;
  padding-bottom: 80px;
  font-family: Poppins;
}

.details-img {
  width: 100%;
}

.slider {
  margin-top: 50px;
  padding: 0 20px;
  width: 80%;
  height: 300px;
  margin-left: 14px;
}

.slider-img {
  width: auto;
  height: 170px;
}

.slick-dots li button:before {
  position: absolute;
  content: "•";
  left: 10px;
  top: 0;
  width: 2px;
  height: 2px;
  color: rgb(99, 99, 99);
  z-index: 99;
  opacity: 1;
}

.slick-dots li.slick-active button:before{
  position: absolute;
  content: "•";
  left: 10px;
  top: 0;
  width: 2px;
  height: 2px;
  color: rgb(255, 255, 255);
  z-index: 99;
  opacity: 1;
}

.video {
  margin: 0 13px;
  width: 90%;
}

.instructions {
  padding: 0 30px;
  font-size: 1rem;
  line-height: 24px;
  font-family: Poppins;
}

.favorite, .share {
  font-size: 2rem;
}

.favorite {
  margin-right: 10px;
}

.share {
  margin-left: 10px;
}

.init-recipe-btn {
  background-color: #0fa36b;
  border: none;
  border-radius: 4px;
  left: 130px;
  padding: 8px 13px;
  z-index: 99;
  color: white;
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(61, 61, 61);
}

.btns-details {
  display: flex;
  justify-content:  center;
  align-items: center;
  width: 100%;
}

.ingredients-list {
  background-color: rgb(95, 95, 95);
  border-radius: 5px;
  box-shadow: 0 0 2px 0;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.play {
  font-size: 1.3rem;
  margin-left: 12px;
}

.recipe-title, .recipe-category {
  text-align: center;
  color: #f1f1f1;
  font-family: Poppins;
  margin: 0;
}

.explore-page {
  background: linear-gradient(to top, black 15%, rgba(0, 0, 0, 0.404)) , url('./images/casey-lee.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(8, 8, 8);
}

.explore-page button {
  position: relative;
  padding: 14px 10px;
  background-color: rgb(63, 63, 63);
  border-radius: 8px;
  border: 0;
  color: rgb(235, 235, 235);
  font-size: 1.4rem;
}

.search-header {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 25px;
  width: 70%;
  margin: 0 auto;
  background-color: rgba(44, 44, 44, 0.267);
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  border-radius: 6px;
}

.search-text {
  margin-left: 10px;
  padding: 6px;
  border: 2px solid white;
  border-radius: 6px;
}

.search-btn {
  margin-top: 14px;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background: linear-gradient(to top, #00ccff62, rgb(7, 7, 7), #d400d470);
}

.search-text > input[type="radio"] {
  display: none;
}

.progress-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-selected{
  background-color: rgb(231, 231, 231);
  color: rgb(43, 43, 43);
}

.ul-list {
  margin: 0;
  padding: 30px 0;
}

.finish-btn {
  margin-top: 50px;
  width: 60%;
}

.label-ingredients {
  display: flex;
  align-items: center;
}

.checkbox {
  appearance: none;
  height: 15px;
  width: 15px;
  background: rgb(53, 53, 53);
  position: relative;
  margin-right: 10px;
}

.checkbox:checked {
  background-color: #0fa36b;
}

.checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Font Awesome 5 Free';
  content: '\f00c';
  font-weight: 900;
  font-size: 10px;
  color: white;
  display: none;
}

.checkbox:checked:after {
  display: block;
}

.explore-random {
  height: 100vh;
  background-color: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Poppins;
}

.explore-random  button {
  background: linear-gradient(to top, #0e704b, #11b677);
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-family: Poppins;
}

.ingredient-progress {
  height: 30px;
  padding: 6px 0;
}
